<footer>
  <nav>
    <ul class="navbar-buttons">

      <a target="_self" href="/register">
        <button>Sign up</button>
      </a>

      <a target="_self" href="/login">
        <button>Sign in</button>
      </a>

      <a id="navBarProfileButton" target="_self" href="/profile" hidden>
        <button>Perfil</button>
      </a>

      {{! <a id="navBarProductsButton" href="/products" target="_self">
        <button>Products</button>
      </a> }}

      <a
        id="navBarRealTimeButton"
        href="/realTimeProducts"
        target="_self"
        hidden
      >
        <button>Ir a Real Time Products</button>
      </a>

      <a id="navBarChatButton" href="/chat" target="_self" hidden>
        <button>Ir al chat</button>
      </a>
    </ul>
  </nav>
</footer>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{!-- <script src="/js/navBar.client.js"></script> --}}