<h1>Perfil</h1>

<ul id="profileUL">
  <li>Nombre: <span id="nameSpan"></span></li>
  <li>Apellido: <span id="lastNameSpan"></span></li>
  <li>Correo electronico: <span id="emailSpan"></span></li>
  <li>Rol: <span id="rolSpan"></span></li>
</ul>

<button id="logoutButton" type="button">Logout</button>
<a type="button" href="/edit">Editar mis datos</a>

<script src="js/profile/profile.js"></script>